cycler==0.10.0
Django==1.9.7
djangorestframework==3.3.3
gunicorn==19.6.0
pbr==1.8.1
Pillow==3.3.0
pyparsing==2.1.1
python-dateutil==2.5.2
pytz==2016.3
six==1.10.0
stevedore==1.12.0
virtualenv==15.0.1
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
